.mainproduct{
    height: 79vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
.productList{
    background-color: yellow;
    border: 1px solid black;
    
    

}
.productList ul {
    display: flex;
    list-style-type: none;
    text-align: center;
}
.productList ul li{

    padding:10px 2rem ;
    border: 1px solid black;
    width: 15vw;

}
.opration{
    display:flex;
}
